<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      QR-scanner
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button block (click)="scan()">
    Realizar scann
  </button>
</ion-content>
